<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
  <h2>User info</h2>
    <table class="table">
      <tbody>
        <tr>
          <th><%= image_tag @user.get_profile_image(100, 100) %></th>
        </tr>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th></th>
        </tr>
      </tbody>
    </table>
    
    <% if @user.id == current_user.id %>
      <div class="row">
        <div class="btn btn-outline-secondary btn-block">
          <i class="fas -fa-user-cog" aria-hidden="true">
              <%= link_to "編集", edit_user_path(@user.id) %>
          </i>
        </div>
        
      </div>
    <% end %>