<div>
  <h2>Books</h2>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
</div>

<% @books.each do |books| %>

<div>
  <p>title:<%= books.title %></p>
  <p>body:<%= books.body %></p>
</div>

<% end %>

